/* bitch.css */

@font-face {
font-family: Practique;
src: url("/static/fonts/Practique.ttf");
}

@font-face {
font-family: Dekar;
src: url("/static/fonts/Dekar.otf") format("opentype");
}

@font-face {
font-family: Blanch;
src: url("/static/fonts/BLANCH_CONDENSED.otf") format("opentype");
font-weight:normal;
}

@font-face {
font-family: Blanch;
src: url("/static/fonts/BLANCH_CONDENSED_INLINE.otf") format("opentype");
font-weight:lighter;
}

@font-face {
font-family: Corbert;
src: url("/static/fonts/Corbert-Regular.otf") format("opentype");
}


body{
    color:#ddd;
    background-image:url('/static/img/black_lozenge.png');
    }
h1{font-family: Blanch;font-size: 50px;letter-spacing: 2px;}
h2{font-family: Corbert;font-size: 14px;letter-spacing: 0;}
h3{font-family: Corbert;font-size: 20px;letter-spacing: 0;}
h4{}
h5{}
p{font-family: Corbert;font-size: 11px;line-height: 20px;}
a{text-decoration:none;color:#66c;font-family: practique;}

header{
    width:100%;
    border-bottom:solid 1px #aaa;
    background-image:url('/static/img/noisy_grid.png');
    }
footer{height:20px;background-color:#333;width:100%;position:fixed;bottom:0px;color:#666;font-family: practique;}
footer span{margin:0 10px;}
footer .left{float:left;}
footer .right{float:right;text-align: right;}

/* Header */
#head-menu{margin:0 0 0 5px;padding:0 0 0 0;display:inline-block;}
.head-button{
    height:50px;
    display: inline-block;
    margin: 0 0 0 0;
    padding: 0px 2px 0 2px;
    
}

.head-button a {
    font-size: 20px;
    letter-spacing: 16px;
    display: block;
    padding: 10px;
}
.head-button a:hover {
    background-color:#ccc;
}
#head-right{display:inline-block;float:right;}
#social-shit{margin-top:11px;}
.social-icon-link{margin:0 5px;}
.social-icon-link img{display:inline;}
/* End Header */


/* Entry List */

#shit-on-the-left{}
#shit-on-the-left img{width:400px;}
#shit-on-the-left h1{font-family:blanch;}
#shit-on-the-left p{font-family:corbert;font-size:16px;}

#icecream-logo{
    padding:10px;
}

#shit-on-the-right{}

#i-container{margin:auto;}

#logo-big{margin: 0 0 -45px 0;padding: 0;}
#icecream-logo{max-width:800px;width:90%;}
#content-container{}
.i-box{
    margin-bottom: 10px;
    padding:5px;
    background-image:url('/static/img/transpBlack10.png');
    overflow: hidden;
}
.entry-image{}
.entry-image img{}
.entry-image h1{width:150px;}
.entry-image-small{}
.entry-image-small img{}
.entry-text{width:300px;}
.entry-image-click{width:auto;height:auto;max-width: 500px}
.entry-lyrics{}
.entry-lyrics p {margin:15px 0px;}
.entry-lyrics h2 {
    font-family: blanch;
    font-size: 28px;
    cursor:pointer;
    margin:0px;
    padding: 0px 0px 0px 5px;
    }
.entry-lyrics h2:hover {background-color:#333;}
.lyrics-hide{height:40px;overflow:hidden;}

.i-box h1{display:block;/*height:20px;*/}
.i-box h2{display: block;height:14px;margin:5px 0px;}
.i-box p{display: block;}
.i-box > div > a{display: block;height:16px;} /* "Read more" link */

.accordian-title{}

/* End Entry List */

/* EP announcement slide */
#ep-img{width:100%;}
#ep-slide a{display:inline-block;}
#ep-slide-text{height:0px;overflow:visible;display:inline-block;float:left;position:relative;bottom:200px;left:50px;}
#ep-slide h1{font-size:75px;color:#ccc;}
#ep-slide h2{font-size:30px;color:#ccc;}
/* End EP announcement slide */

/* jPlayer */
/*
.jp-title{display:none;}

#player{
display: inline-block;
height: 58px;
width: 420px;
margin: 0px 0 0px 0;
}
#player > .player-container{
    height: 69px;
    overflow: hidden;
    margin: -11px 0 -17px 0;
    width: 420px;
}
#player div.jp-audio{border:0px;}
*/
/* End jPlayer */

/* Entry Detail */
#entry-detail{
    max-width: 600px;
    margin:20px auto;
}
#entry-detail h1{margin:10px 0px;font-size: 50px;}
#entry-detail h2{margin:10px 0px;}
#entry-detail p{margin:10px 0px;font-size: 16px; line-height: 35px;}
/* End Entry Detail */

