{% extends "btblog/base.html" %}

{% block content %}

<div id="entry-detail">
    <h1>What is Bitchtits?</h1>
    <p>Bitchtits formed in Carbondale, IL in 2013 as a short-term music project led by 
Charlotte "Upchuck" Hyzy (guitar, vocals). Charlotte's previous work consisted of sculpture, illustration, and photography focused on body image. For Charlotte, music was the obvious next step. Teaming up with Emily Hanson (drums, backup vocals) and Thomas Ricard (bass, synth, backup vocals), the music of Bitchtits became the combination of melodic synth-pop and harsh, unrefined grunge.</p>
    <p>Bitchtits is now based in Brooklyn, NY</p>
</div>
        
{% endblock %}
