{% extends "btblog/base.html" %}
{% load staticfiles %}
{% block buttons %}
    {{ block.super }}
    {# <div class="head-button"><a href="/">Home</a></div>  #}
{% endblock %}

{% block content %}
    <div class="row">
        <div id="logo-big">
            <img id="icecream-logo"
                 src="{% static "img/icecream2NoShadow.png" %}" alt="bitchtits logo" />
        </div>

        <div id="entry-detail">
            <h1>{{object.title}}</h1>
            <h2>{{object.subtitle}}</h2>
            {% if object.image %}
            <img src="{{ object.image.url }}">
            {% endif %}
            <p>{{object.text}}</p>
        </div>
    </div>
{% endblock %}
