{% load staticfiles %}
    <div class="entry-lyrics" >
        <h1>EP Lyrics</h1>
        <div class="accordian-title lyrics-hide">
            <h2>Fuck Your "Perfection"</h2>
            <a href="{% static "/static/img/FUCK YOUR PERFECTION IMAGE.jpg" %}">
                <img src="{% static "/static/img/fuck_thumb.jpg" %}">
            </a>
            <p>Fuck!</p>
            <p>Fuck the limitations from society that got you so hard you just can’t breathe. 
            Fuck mass communication from the mainstream, gets you before you can even read.</p>
            <p>Fuck!</p>
            <p>I’ll make you thin I’ll make you white I’ll make you thin I’ll make you white.</p>

            <p>Fuck!</p>
            <p>Fuck the limitations from society that got you so hard you just can’t breathe. 
            Fuck mass communication from the mainstream, gets you before you can even read.</p>
            <p>I’ll make you thin I’ll make you white I’ll make you thin I’ll make you white.</p>
            <p>Fuck!</p>
        </div>
        <div class="accordian-title lyrics-hide">
            <h2>Censorshit</h2>
            <p>I’m gonna blank, blank, blank, blank, blank, blank, blank, 
                blank, blank, blank, blank, blank, blank myself.</p>
            <p>Wallyworld sells cockrings, cockrings, cockrings.  But no dildos 
                on the shelf. How is it I hear, see, see, see, assholes 
                screaming bitch but mouthing tits on tv?</p>

            <p>I’m gonna...</p>
            <p>I’m gonna blank your blank, with both of my blanks, I’m gonna eat blank until my jaw breaks.</p>

            <p>We’re gonna save you, though we don’t know you.
            Our ideal is what you should aspire to.
            Thanks but no thank-you, no we don’t need you, no we don’t need you, don’t need you to</p>

            <p>tell us what to wear, how to fuck, how to sleep.
            But say what want, and you’ll get fuckin bleeped.
            They’ll maim your inspiration, there’s nothing more that’s new.
            So just shut up, so no one judges you.</p>

            <p>I’m gonna...</p>
            <p>I’m gonna blank your blank, with both of my blanks, I’m gonna eat blank until my jaw breaks.</p>

            <p>We’re gonna save you, though we don’t know you.
            Our ideal is what you should aspire to.
            Thanks but no thank-you, no we don’t need you, no we don’t need you, don’t need you to</p>
            <p>Can’t tell us what to say and do.
            Thanks, but no thank-you, no we don’t need you.
            No we don’t need you, no we don’t need you.</p>
        </div>
        <div class="accordian-title lyrics-hide">
            <h2>How I Spent My Summer Vacation</h2>
            <a href="{% static "/static/img/SUMMER VACATION.jpg" %}">
                <img src="{% static "/static/img/sumvac_thumb.jpg" %}">
            </a>
            <p>Everything, everything, everything is coming up roses.</p>
            <p>All I need is just one bite, </p>
            <p>(I DON’T WANT YOUR ENTERTAINMENT!)</p>
            <p>to make it through tonight. </p>
            <p>(I don't want your entertainment!)</p>
            <p>All I need is one more bite, 
            <p>(I don't want your entertainment!)
            <p>to make it through tonight.</p>

            <p>No time to think (No time to) 
                No time to think (No time to) 
                No time to think (No time to) 
                No time to think (No time to)</p>

            <p>All I need is just one bite, </p>
            <p>(I DON’T WANT YOUR ENTERTAINMENT!)</p>
            <p>to make it through tonight. </p>
            <p>(I don't want your entertainment!)</p>
            <p>All I need is one more bite, 
            <p>(I don't want your entertainment!)
            <p>to make it through tonight.</p>
            <p></p>
            <p>All I want is entertainment. 
                All I want is entertainment. 
                All I want is entertainment. 
                All I want is entertainment. 
                All I want is entertainment. 
                All I want is entertainment. 
                All I want is entertainment. 
                All I want is entertainment.</p>
        </div>

        <div class="accordian-title lyrics-hide">
            <h2>My Body (My Party)</h2>
            <a href="{% static "/static/img/MY BODY MY PARTY.jpg" %}">
                <img src="{% static "/static/img/body_thumb.jpg" %}">
            </a>
            <p>It’s just a part of me.
            What about the rest of me?</p>

            <p>When all is said and done, I just can’t win.
            Diet, diet, diet, diet, diet, diet, diet all day.
            Try so hard, but it’s still the same.</p>

            <p>It’s my body, just my body, it’s my body.  So sick of trying to change me!</p>

            <p>Just a part of me.
            Look at the rest of me.</p>

            <p>Ideal body types breed insecurity
            I know what I like, so why taint me?
            Battle, battle, battle, battle, battle for the smallest size.
            If you’re like me you obsess all the time.</p>

            <p>It’s my body, just my body. It’s my body. So sick of trying to change me.</p>

            <p>MY body, MY fucking PARTY.</p>

            <p>These L-Bs
            You don’t own me
            Don’t own me</p>

            <p>The war on my ass
            better not last
            Let’s go dance!</p>
        </div>
    </div>

